@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">CS615 - USER INTERFACE DESIGN</h2>
    <h2>Project Group 4<br>Project Proposal</h2>
</div>
<div>
    <h3>Project Name: College Self Volunteering</h3>
    <h3>Group Name: PixelPioneers</h3>
    <h3>Group Members</h3>
    <p>
        Sammed Jain Dharmapal Prakash
        <br />Sukruth Kotturu
        <br />Sricharan Mohan Kumar
    </p>
    <h3>Problem Statement </h3>
    <p>"College students often possess the desire and potential to contribute to their communities and causes they care about through
    volunteering. However, they often face challenges in finding suitable volunteer opportunities that align with their interests,
    schedules, and skills. Additionally, tracking their volunteering hours and the impact of their efforts can be cumbersome and lacks
    a cohesive platform. To address these issues, we aim to create a user-friendly mobile application tailored specifically for college
    students, enabling them to easily discover, engage in, and document their volunteer activities while fostering a sense of community
    and personal growth."</p>
    <h3>User Goals</h3>
    <p>
        <b>Finding Suitable Volunteering Opportunities:</b> College students want to identify volunteer opportunities that align with their interests, skills, and availability.
        <br /><b>Easy Application:</b> Users aim for a user-friendly application that simplifies the process of discovering, applying for, and tracking volunteering opportunities.
        <br /><b>Community Engagement:</b> They seek a platform that connects them with like-minded peers and fosters a sense of community around volunteering.
        <br /><b>Personal Growth:</b> They hope to gain valuable experiences, develop new skills, and demonstrate their commitment to social causes.
    </p>
    <h3>User Actions</h3>
    <p>
        <b>Create a Profile:</b> Users will start by creating a personal profile.
        <br /><b>Discover Opportunities:</b> They will browse through a list of volunteering opportunities and time commitment.
        <br /><b>Sign Up:</b> Users will select an opportunity and register for it through the application.
        <br /><b>Connect with Peers:</b> Users will engage with other volunteers by joining discussion forums and building a sense of community.
        <br /><b>Receive Recognition:</b> Users may seek recognition and badges for their contributions.
    </p>
    <h3>Obstacles</h3>
    <p>
        <b>Limited Awareness:</b> College students may not be aware of available volunteering opportunities.
        <br /><b>Matching Opportunities:</b> Finding opportunities that perfectly match their schedules and interests can be challenging.
    </p>
</div>

